@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: "Poppins", "Open Sans";
}

:root  {
    --pink : hsl(322, 100%, 66%);
    --paleCyan : hsl(193, 100%, 96%);
    --darkCyan : hsl(192, 100%, 9%);
    --grayishBlue : hsl(208, 11%, 55%);
}

header {
    background-image: url("./images/bg-hero-desktop.svg");
    background-color: var(--paleCyan);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h3 {
    font-family: "Poppins";
    font-size: 1.5em;
}

p {
    font-family: "Open Sans";
    font-size: .8em;
    font-weight: lighter;
}

.container {
    padding: 3em 5em;
}

.brand-level {
    width: 100%;
}

.brand-level .logo {
    width: 8em;
}

.brand-level .tryforfree {
    display: block;
    float: right;
    background-color: #fff;
    padding: .7em 3.5em;
    text-decoration: none;
    color: var(--grayishBlue);
    border-radius: 2em;
    font-size: .8em;
}


.brand-level .tryforfree:hover {
    box-shadow: .1em .1em .1em .1em var(--grayishBlue);
}

 .intro-level > div {
    width: 50%;
    float: left;
    padding: 2em 0em;
 }

.intro-level {
    content: "";
    display: table;
    clear: both;
}

.intro-level .intro-text {
    padding: 5em 0em;
}

.intro-level .intro-text h2 {
    font-size: 2em;
    margin: 0em;
}

.intro-level .intro-text h3 {
    font-size: 2em;
    margin: 0em;
}

.intro-level .intro-text p {
    font-size: .8em;
    font-weight: lighter;
    font-family: "Open sans";
    width: 70%;
    margin: 0em;
}

.intro-level .intro-text a {
    background-color: var(--pink);
    padding: 1em 3em;
    color: #fff;
    display: inline-block;
    margin-top: 1.5em;
    border-radius: 5em;
    text-decoration: none;
    font-size: .7em;
}

.intro-level .intro-image .win-image {
    width: 100%;
}

.box {
    border: .5px solid var(--darkCyan);
    margin-top: 5em;
    padding: 4em;
    border-radius: 1em;
}

.box > div {
    width: 50%;
    float: left;
}

.box .box-img img {
    width: 50%;
    margin: 0 auto;
    float: right;
    margin-right: 20%;
}

.box p {
    width: 90%;
}

.box .box-text {
    padding: 3% 0;
    padding-left: 2em;
}

.box::after {
    content: "";
    display: table;
    clear: both;
}

footer {
    background-color: var(--darkCyan);
    color: #fff;
    margin-top: 10em;
}

footer .footer-top {
    background-color: #fff;
    text-align: center;
    width: 70%;
    margin: 0 15%;
    border-radius: 1em;
    padding: 2em;
    margin-top: -17%;
    box-shadow: .1em .1em .2em .2em #00000064;
}

footer .footer-top h2{
    color: #000;
    font-size: 2em;
    margin-bottom: 1em;
}
footer .footer-top a{
    font-size: 1em;
    padding: 1.3em 5em;
    background-color: var(--pink);
    display: inline-block;
    border-radius: 3em;
    color: #fff;
    text-decoration: none;
}

footer .footer-main {
    margin-top: 3em;
}

footer .footer-main > div {
    float: left;
    min-width: 20%;
}

footer .footer-main::after {
    content: "";
    display: table;
    clear: both;
}

.first-foot-section {
    width: 40%;
}

.first-foot-section > div {
    width: 80%;
    margin-top: 1em;
    font-family: "Open Sans";
}

.first-foot-section > div img {
    display: inline-block;
    vertical-align: top;
    margin-right: 1em;
}

.first-foot-section > div p {
   display: inline-block;
   width: 80%;
}
.second-foot-section, .third-foot-section {
    text-align: center;
}

.second-foot-section ul , .third-foot-section ul  {
    list-style-type: none;
}
.second-foot-section ul li, .third-foot-section ul li {
    text-align: left;
    margin-top: 1.5em;
    font-family: "Open Sans";
}

.fourth-foot-section {
    padding: 1em 1.5em;
}

.fourth-foot-section ul {
    text-align: center;
    list-style-type: none;
}
.fourth-foot-section ul li {
    float: left;
    padding: .6em 1em;
    border-radius: 2em;
    outline: 1px solid #fff;
    margin: .4em;
}

.footer-foot {
    text-align: right;
    font-family: "Open Sans";
    margin: 2em 0em;
}


@media (max-width: 808px) {
    .container {
        padding: 2em 3em;
    }

    header {
        background-image: url("./images/bg-hero-mobile.svg");
    }

    .intro-level div {
        width: 90%;
        padding: 2em 0em;
        text-align: center;
    }

    .intro-level .intro-text p {
        margin: 0em auto;
    }

    .intro-level .intro-image .win-image {
        width: 100%;
        margin: 0 auto;
    }


    .box {
        padding: 2em;
        display: flex;
        flex-direction: column-reverse;
    }
    .special {
        flex-direction: column;
    }

    .box > div {
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }

    footer .footer-top {
        width: 96%;
        margin: 0 2%;
        margin-top: -25%;
    }
    footer .footer-main > div {
        float: left;
        min-width: 100%;
    }

    .fourth-foot-section {
        padding: 1em 25%;
    }

    .footer-foot {
        text-align: center;
    }
}


